@{
    ViewData["Title"] = "To Do List";
}

<div class="text-center">
    <h1 class="display-4">What to Do?</h1>
    <p>Trying to do my fucking first webApp</p>

    <div>
        <ul style="list-style-type: none" class="align-content-center pl-0 ml-0 font-weight-bold">
            <li>
                <label>To Dos </label>
                <input type="text" placeholder="What f** do you have to do today?" class="w-100" />
            </li>
            <li>
                <label>Activity</label>
                <input type="text" placeholder="What that s** related to?" class="w-100" />
            </li>
            <li>
                <label>Duration</label>
                <input type="text" placeholder="How long till y're f***ing done?" class="w-100" />
            </li>
        </ul>

        <p class="btn btn-dark w-100 font-weight-bold">Add to List</p>
    </div>


</div>
