@{
    ViewData["Title"] = "Record";
}

<div class="text-center">
    <h1 class="display-4">What is my progress so far?</h1>
    <p>Here I will try to put a progress line with bar charts to show prograss day-by-day of the activities</p>
</div>
